AWS_REGION=''
AWS_ACCOUNT=''
STACK_STAGE=''
IMAGE_TAG=''
MASTER_STACK_NAME=''
DYNAMO_TABLE=''
SECRET_NAME=''
SECRET_ARN=''
HOSTED_ZONE_ID=''
HTTP_CERTIFICATE=''
WSS_CERTIFICATE=''
HTTP_DOMAIN=''
WSS_DOMAIN=''
MAIN_PROVISION=''